@model CompanyManager.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex align-items-center">
    <a asp-area="" onclick="window.history.go(-1);return false;" class="text-black">
        <i class="fa-solid fa-chevron-left"></i>
    </a>        
    
    <h2 class="fs-2 mb-0 ml-3">Venta #@Html.DisplayFor(model => model.Id)</h2>
</div>

<h3 class="text-black-50 fs-4 mt-4">Datos del comprador</h3>
<hr />

<dl class="row">
    <dt class="col-sm-3">
        Nombre completo
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Buyer.Name) @Html.DisplayFor(model => model.Buyer.LastName)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Buyer.Email)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Buyer.Email)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Buyer.Phone)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Buyer.Phone)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.SaleDate)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SaleDate)
    </dd>
</dl>

<h3 class="text-black-50 fs-4 mt-4">Datos de la tarjeta</h3>
<hr />

<dl class="row">
    <dt class="col-sm-3">
        Nombre en la tarjeta
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CardName)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.CardNumber)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CardNumber)
    </dd>

    <dt class="col-sm-3">
        Fecha de expiración
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ExpirationM)/@Html.DisplayFor(model => model.ExpirationY)
    </dd>
</dl>

<h3 class="text-black-50 fs-4 mt-4">Listado de Productos</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Nombre del producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>$ @Html.DisplayFor(modelItem => item.Product.Price)</td>
                <td>$ @item.getTotalPrice()</td>
            </tr>
        }

        <tr>
            <td class="fw-bold">Total</td>
            <td></td>
            <td></td>
            <td>$ @Html.DisplayFor(model => model.TotalPrice)</td>
        </tr>
    </tbody>
</table>