@model IEnumerable<CompanyManager.Models.Sale>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex align-items-center">
    <a asp-area="" onclick="window.history.go(-1);return false;" class="text-black">
        <i class="fa-solid fa-chevron-left"></i>
    </a>
    <h1>
        Listado de ventas
        @if (ViewBag.Product != null)
        {
            <span> - </span>

            <span class="text-danger">@ViewBag.Product</span>
        }
    </h1>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.Email)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-danger">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
